/* body{
    background-image: url('ground.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
} */
#page1{
    margin-bottom: 9%;
    background-image: url('ground.webp');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    width: 100%;
    height: 100%;
}
#ulNav{ 
    width: 100%;
    display: flex;
    position: fixed; top: 0px;
    background-color: white;
    opacity: 100%;
    width: 100%;
    height: 50px;
    margin-top: 0;
}
span{
    color: rgb(240, 178, 219);
}
#ulNav > div {
    display: inline;
    list-style-type: none;
    padding: 1%;
  }

.link{
    font-size: 120%;
    background-color: white;
  color: black;
  padding: 1px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 100%;
                    }
#readie{
    opacity: 100%; 
    padding-right: 15%;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
    font-size: 120%; 
    font-family:"Lucida Console", "Courier New", monospace ;

}

                                /* ---------------------------- */
#container {
    display: flex;
    width: 100%;
    padding-top:7% ;
   
  }
#heading{
    font-family:"Lucida Console", "Courier New", monospace ;
    font-size: 250%;
    text-align: left; 
    padding-left: 30%;
    padding-top: 10%;
}

#container > div {
    width: 100%;
    text-align: center;
    padding-left: 9%;
    float: right;

  }

/* ------------------------------------------------------------------------------------------ */
#page2{
   
    background-image: linear-gradient(white, rgb(245, 245, 141));
    margin: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
}
#whiteandyello{
    opacity: 20%;
}
#main {
    display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* width: 100%; */

   
  }
#main > div {
    background-color: #FAEBD7;
    /* margin: 10px; */
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;

 }

.imgflex
{
padding-top: 40px;
}
.pflex{
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}
/* -------------------------------------------------------------------------------------------- */

#page3{
    display: flex;
    text-align: center;
    margin: 1%;
    margin-bottom: 5%;
    border-radius: 10px;
  
}
#page3 > div{
    width: 100%;
    margin: 2%; 
     padding: 4%;
    border-radius: 2%;
text-align: center;
background-color: #facfcf;

}

#listDownright{
text-align: center;}
.listDownright{
border-radius: 40%;

    display: inline;
}

input{
    /* padding: 2% 17%; */
    /* margin: 2% 4%; */
    margin-left: 1%;
    padding: 2% ;
    width: 38%;

}
textarea{
    margin-left: 1%;
text-align: left;
    padding: 2% 25%;
    width: 39%;

}

button {
    background-color: rgba(223, 131, 162, 0.842); 
    border: none;
    color: rgb(247, 248, 250);
    padding: 2% 38%;
    text-align: center;
    font-size: 120%;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#input1{
    /* padding: 2% 25%; */
    /* padding: 2% 17%; */
    padding: 2% 24%;
width: 40%;
}

#pdown{
    text-align: center;
}